<div class="img-shadow">
  <div>
    <div class="card">
      <form action="#">
        <h1 class="roboto-medium form-title">Inicio de sesión</h1>
        <label for="email" class="roboto-medium label-form"> Usuario:</label>
        <input type="email" id="email" name="email" required />
        <label for="password" class="roboto-medium label-form"
          >Contraseña:</label
        >
        <input type="password" id="password" name="password" required />
        <button type="submit">Validar datos</button>
        <a href="#" class="roboto-medium">¿Olvidaste contraseña?</a>
      </form>
    </div>
  </div>

  <div class="slider-section">
    <app-slider class="slider-login"></app-slider>
  </div>
</div>
