<div class="img-shadow">
  <div>
    <div class="card">
      <form [formGroup]="loginForm" (ngSubmit)="send()">
        usuario logueado: {{ userLoginOn }}
        <h1 class="roboto-medium form-title">Inicio de sesión</h1>
        <label for="email" class="roboto-medium label-form"> Usuario:</label>
        <input
          type="email"
          formControlName="email"
          id="email"
          name="email"
          required
        />

        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="frm-error"
        >
          <p *ngIf="email.errors?.['required']" class="error">
            El email es requerido.
          </p>
          <p *ngIf="email.errors?.['email']" class="error">
            El email no es válido.
          </p>
          <p *ngIf="email.errors?.['minLength']" class="error">
            El email debe tener al menos 5 caracteres.
          </p>
          <p *ngIf="email.errors?.['maxLength']" class="error">
            El email debe tener como máximo 20 caracteres.
          </p>
          <p *ngIf="email.errors?.['pattern']" class="error">
            El email no debe contener espacios ni caracteres especiales.
          </p>
        </div>

        <label for="password" class="roboto-medium label-form"
          >Contraseña:</label
        >
        <input
          type="password"
          formControlName="password"
          id="password"
          name="password"
          required
        />

        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="frm-error"
        >
          <p *ngIf="password.errors?.['required']" class="error">
            La contraseña es requerida.
          </p>
          <p *ngIf="password.errors?.['minLength']" class="error">
            La contraseña debe tener al menos 8 caracteres.
          </p>
          <p *ngIf="password.errors?.['maxLength']" class="error">
            La contraseña debe tener como máximo 20 caracteres.
          </p>
          <p *ngIf="password.errors?.['pattern']" class="error">
            La contraseña no debe contener espacios.
          </p>
        </div>
        <button type="submit">Validar datos</button>
        <a href="#" class="roboto-medium">¿Olvidaste contraseña?</a>
      </form>
    </div>
  </div>

  <div class="slider-section">
    <app-slider class="slider-login"></app-slider>
  </div>
</div>
