.ng-image-slider {
  width: 200%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  max-height: 1800px; /* Limita la altura a 400px */
}
/* Styles for small screens (less than 600px) */
@media (max-width: 600px) {
}

/* Styles for medium screens (600px to 959px) */
@media (min-width: 601px) and (max-width: 959px) {
}

/* Styles for large screens (960px and above) */
@media (min-width: 960px) {
}
