<footer>
  <div class="footer-container">
    <div class="footer-section contact">
      <ul>
        <li>
          <a href="#">
            <span class="logo-footer"> <img src="./assets/footer/call.svg" alt="call" /> </span
            >¡Llámanos ahora! +57 314 854 8127
          </a>
        </li>
        <div class="withe-line"></div>
        <li>
          <a href="#">
            <span class="logo-footer"> <img src="./assets/footer/mail.svg" alt="mail" /> </span
            >info@plytechla.com
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-section web">
      <ul>
        <li class="icon-red-social">
          <a href="#">
            <span class="logo-footer">
              <img src="./assets/footer/instagram.svg" alt="instagram" />
            </span>
          </a>
        </li>
        <li class="icon-red-social">
          <a href="#">
            <span class="logo-footer">
              <img src="./assets/footer/facebook.svg" alt="facebook" />
            </span>
          </a>
        </li>
        <li class="icon-red-social">
          <a href="#">
            <span class="logo-footer">
              <img src="./assets/footer/twitter.svg" alt="twitter" />
            </span>
          </a>
        </li>
        <li class="icon-red-social">
          <a href="#">
            <span class="logo-footer">
              <img src="./assets/footer/whatsapp.svg" alt="whatsapp" />
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-section movil">
      <ul>
        <li class="icon-red-social">
          <a href="#">
            <span class="logo-footer">
              <img src="./assets/footer/instagram-1.svg" alt="instagram" />
            </span>
          </a>
        </li>
        <li class="icon-red-social">
          <a href="#">
            <span class="logo-footer">
              <img src="./assets/footer/facebook-1.svg" alt="facebook" />
            </span>
          </a>
        </li>
        <li class="icon-red-social">
          <a href="#">
            <span class="logo-footer">
              <img src="./assets/footer/twitter-1.svg" alt="twitter" />
            </span>
          </a>
        </li>
        <li class="icon-red-social">
          <a href="#">
            <span class="logo-footer">
              <img src="./assets/footer/whatsapp-1.svg" alt="whatsapp" />
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-section copy-right">
      <ul>
        <li>
          <a href="#">
            <span class="t-copy roboto-medium"
              >&copy; 2024 Listo Desarrollado por</span
            >
            <img class="img-copy" src="./assets/footer/playtech.PNG" alt="playtech" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
